<h1 class='textTitle'><%=I18n.translate('devise.shared.links.sign_up')%></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="inputContainer">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="inputContainer">
    <%= f.label :registration_number %>
    <%= f.text_field :registration_number %>
  </div>

  <div class="inputContainer">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(mínimo <%= @minimum_password_length %> caracteres)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="inputContainer">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <div class="actions">
    <%= f.submit I18n.translate('devise.shared.links.sign_up') , :class => 'btnSubmit'%>
  </div>
<% end %>

<div class='linksContainer'>
  <%= render "devise/shared/links" %>
</div>
