<h1 class='textTitle'><%= Lot.model_name.human(count: 1)%> <%=@lot.code%></h1>
<%if user_signed_in? && current_user.admin? && @lot.pending?%>
    <%= link_to 'Editar lote', edit_lot_path(@lot), :class => 'btn'%>
<%end%>
<span class='textDescription'>
    <%=Lot.human_attribute_name('start_date')%>: <%=I18n.localize(@lot.start_date)%>
</span>
<span class='textDescription'>
    <%=Lot.human_attribute_name('limit_date')%>: <%=I18n.localize(@lot.limit_date)%>
</span>
<span class='textDescription'>
    <%=Lot.human_attribute_name('minimum_bid')%>: <%=@lot.money_format(@lot.minimum_bid)%>
</span>