<h1 class='textTitle'><%=I18n.translate('title.pending_lot')%></h1>
<section class='pendingLotsContainer'>
    <%if @lots.empty?%>
        <span><%=I18n.translate('message.no_lot_pending')%><span>
    <%else%>
        <%@lots.each do |lot|%>
            <%=tag.div id: lot.code, :class => 'pendingLotContainer' do%>
                <%=link_to lot do%>
                    <h2><%= Lot.model_name.human(count: 1)%> <%=lot.code%></h2>
                <%end%>
                <%= button_to I18n.translate('buttons.approve'), approved_lot_path(lot), :class => 'btn'%>
                <span class='textDescription'>
                    <%=Lot.human_attribute_name('start_date')%>: <%=I18n.localize(lot.start_date)%>
                </span>
                <span class='textDescription'>
                    <%=Lot.human_attribute_name('limit_date')%>: <%=I18n.localize(lot.limit_date)%>
                </span>
                <span class='textDescription'>
                    <%=Lot.human_attribute_name('minimum_bid')%>: <%=lot.money_format(lot.minimum_bid)%>
                </span>
                <span class='textDescription'>
                    <%=Lot.human_attribute_name('bids_difference')%>: <%=lot.money_format(lot.bids_difference)%>
                </span>
                <span class='textDescription'>
                    <%=Lot.human_attribute_name('created_by_id')%>: <%=lot.created_by.email%>
                </span>
                <h2>Itens</h2>
                    <%lot.item_models.each do |item|%>
                        <dl class='list'>
                            <dt class='listTitle'><%=item.name_format%></dt>
                            <dd class='listDescription'><%=ItemModel.human_attribute_name('description')%>: <%=item.description%></dd>
                            <dd class='listDescription'><%=I18n.translate(:dimension)%>: <%=item.dimension%></dd>
                        </dl>
                    <%end%>
            <%end%>
        <%end%>
    <%end%>
</section>