<h1 class='textTitle'><%=I18n.translate('title.winner_lot')%></h1>
<%if @bids.empty?%>
    <span class='textMessage'><%=I18n.translate('message.wait_for_results')%></span>
<%else%>
    <section class='lotResultsContainer'>
        <%@lots.each do |lot|%>
            <div class='resultContainer'>
            <%if lot.bids.last.user == current_user%>
                <h2><%=I18n.translate('message.congratulations')%> <%=lot.code%>.</h2>
                <span><%=I18n.translate('message.winner_bid')%>: <%=lot.money_format(lot.last_bid)%></span>
                <div class='itemsList'>
                    <h3><%= ItemModel.model_name.human(count: 2)%></h3>
                    <ul>
                        <%lot.item_models.each do |item|%>
                            <li><%=link_to item.name_format, item %></li>
                        <%end%>
                    </ul>
                </div>
            <%elsif @bids.include? lot.id%>
                <span class='textMessage'><%=I18n.translate('message.lost_lot')%> <%=lot.code %> <%=I18n.translate('message.other_user_won')%>.</span>
            <%end%>
            </div>
        <%end%>
    </section>
<%end%>