<section class='lotDescriptionContainer'>
    <%= render 'lot_description'%>
    <%if !@lot.last_bid.nil?%>
        <span class='textDescription'>
            <%=Lot.human_attribute_name('last_bid')%>: <%=@lot.money_format(@lot.last_bid)%>
        </span>
    <%end%>
    <%if user_signed_in? && current_user.client?%>
        <%=form_with(model: [@lot,Bid.new], url: lot_bids_path(@lot), method:"post", html:{class:'shortForm'}) do |f|%>
            <%= f.label :value%>
            <%= f.number_field :value%>
            <%= f.submit 'Confirmar'%>
        <%end%>
    <%end%>
</section>

<h2 class='textTitle'>Itens do Lote</h2>
<%if user_signed_in? && current_user.admin? && @lot.pending?%>
    <%=link_to 'Adicionar Item', new_lot_lot_item_path(@lot)%>
<%end%>
<section class='itemsContainer'>
   <%@lot.item_models.each do |item|%>
        <%=tag.div id: item.code, :class => 'itemDescriptionContainer' do%>
            <div>
                <span class='textDescription'>
                    <%=ItemModel.human_attribute_name('code')%>: <%=link_to item.code, item%>
                </span>
                <%if @lot.pending?%>
                    <%= button_to 'Excluir', lot_lot_item_path(@lot,item), method:"delete"%>
                <%end%>
                <%if item.image.attached?%>
                    <%=image_tag item.image, alt: item.name%>
                <%else%>
                    <%=image_tag "no_image_available.jpg", alt: 'Nenhuma imagem fornecida'%>
                <%end%>
            </div>
            <div class='descriptionContainer'>
                <span class='textDescription'>
                    <%=ItemModel.human_attribute_name('name')%>: <%=item.name%>
                </span>
                <span class='textDescription'>
                    <%=ItemModel.human_attribute_name('category')%>: <%=item.category%>
                </span>
                <span class='textDescription'>
                    <%=ItemModel.human_attribute_name('weight')%>: <%=item.weight%>g
                </span>
                <span class='textDescription'>
                    <%=I18n.translate(:dimension)%>: <%=item.dimension%>
                </span>
                <span class='textDescription'>
                    <%=ItemModel.human_attribute_name('description')%>: <%=item.description%>
                </span>
            </div>
        <%end%>
    <%end%>
</section>