<div class='lotsContainer'>
    <section id='toClose' class='lotContainer'>
        <h2 class='lotContainerTitle'><%=I18n.translate('title.lot_to_close')%></h2>
        <%if @to_close_lots.empty?%>
            <span><%=I18n.translate('message.no_lot_to_close')%></span>
        <%else%>
            <div class='lotsLinksContainer'>
                <%@to_close_lots.each do |lot|%>
                    <%=tag.div id: lot.code do%>
                        <p><%= Lot.model_name.human(count: 1)%> <%= lot.code%></p>
                        <%=button_to I18n.translate('buttons.close'), closed_lot_path(lot), :class => 'btn'%>
                    <%end%>
                <%end%>
            <div>
        <%end%>
    </section>

    <section id='toCancel' class='lotContainer'>
        <h2 class='lotContainerTitle'><%=I18n.translate('title.lot_to_cancel')%></h2>
        <%if @to_cancel_lots.empty?%>
            <span><%=I18n.translate('message.no_lot_to_cancel')%></span>
        <%else%>
            <div class='lotsLinksContainer'>
                <%@to_cancel_lots.each do |lot|%>
                    <%=tag.div id: lot.code do%>
                        <p><%= Lot.model_name.human(count: 1)%> <%= lot.code%></p>
                        <%=button_to I18n.translate('buttons.cancel'), canceled_lot_path(lot), :class => 'btn'%>
                    <%end%>
                <%end%>
            </div>
        <%end%>
    </section>
</div>