<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav class='menu'>
        <div class='menuLinksContainer'>
          <%= link_to 'Home', root_path%>
          <%if user_signed_in? && current_user.admin?%>
            <%= link_to 'Criar novo lote', new_lot_path%> 
            <%= link_to 'Criar novo item', new_item_model_path%>
            <%= link_to 'Aprovar lotes', pending_lots_path%>
            <%= link_to 'Lotes expirados', to_close_lots_path%>
          <%end%>
          <%if user_signed_in? && current_user.client?%>
            <%= link_to 'Ver resultados', result_lots_path%> 
          <%end%>
        </div>
        <div class='menuContainer'>
          <% if user_signed_in?%>
            <%= button_to 'Sair', destroy_user_session_path, method: :delete%>
          <%else%>
            <%= link_to 'Entrar', new_user_session_path%>
          <%end%>
        </div>
      </nav>
    </header>
    <main>
      <% if flash[:notice]%>
        <div class='messageContainer'>
            <%= flash[:notice]%>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
