<!DOCTYPE html>
<html>
  <head>
    <title><%=I18n.translate('title.page')%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico'%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav class='menu'>
        <div class='menuLinksContainer'>
          <%= link_to 'Home', root_path%>
          <%if user_signed_in? && current_user.admin?%>
            <%= link_to I18n.translate('links.new_lot'), new_lot_path%> 
            <%= link_to I18n.translate('links.new_item'), new_item_model_path%>
            <%= link_to I18n.translate('links.approve_lot'), pending_lots_path%>
            <%= link_to I18n.translate('links.expired_lot'), to_close_lots_path%>
          <%end%>
          <%if user_signed_in? && current_user.client?%>
            <%= link_to I18n.translate('links.results'), result_lots_path%> 
          <%end%>
        </div>
        <div class='menuContainer'>
          <% if user_signed_in?%>
            <%= button_to I18n.translate('buttons.logout'), destroy_user_session_path, method: :delete, :class => 'btn'%>
          <%else%>
            <%= link_to I18n.translate('links.login'), new_user_session_path, :class => 'btn'%>
          <%end%>
        </div>
      </nav>
    </header>
    <main>
      <% if flash[:notice]%>
        <div class='messageContainer'>
            <%= flash[:notice]%>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
